<div *ngIf="isBrowsingView; else creationView">
  <div class="deals-container">
    <label for="findDealsInput">Фильтр заказов</label>
    <div class="input-group">
      <input id="findDealsInput"
             class="form-control"
             placeholder="Начните вводить категорию..."
             [formControl]="dealFormControl"
             (focus)="onDealsInputFocus()">
      <ul class="deals-input-list pt-2" *ngIf="isDealInputFocused">
        <li class="pl-3 py-1" *ngFor="let deal of matchedDeals" (mousedown)="onInputListItemClick(deal)"> {{ deal.toString() }} </li>
      </ul>
    </div>
    <div class="deals-list mt-3 mb-2" *ngIf="matchedDeals">
      <div class="py-1" *ngFor="let deal of matchedDeals" [class.active]="focusedDeal === deal" (click)="onDealListItemClick(deal)">
        <p>Категория: {{ deal.category }}</p>
        <p>Описание: {{ deal.getCuttedDesc() }}</p>
        <p>Заказчик: <span class="font-italic underline"
                           title="Нажмите для большей информации о пользователе"
                           (click)="onDealCustomerClick(deal)">
                           {{ deal.customer.name }}
                     </span></p>
        <p>Цена: {{ deal.cost }}</p>
        <button class="btn btn-primary list-item-button" (click)="onApplyClick()">Откликнуться</button>
      </div>
    </div>
  </div>
  
  <div class="create-deal-container text-center">
    <p>Найти специалиста для решения задачи</p>
    <button class="btn btn-primary px-5" (click)="onChangeViewClick()">Найти</button>
  </div>
</div>

<ng-template #creationView>
  <div class="create-alert text-center">
    <p>Нажмите на карту для указания места задачи</p>
    <button class="btn btn-primary">Отмена</button>
  </div>
</ng-template>