.deals-container {
  z-index: 999;
  max-height: calc(100vh - 84px);
  background-color: rgba(105, 82, 66, 0.7);
  font-family: "Bellota";
  color: #fff;
  width: 455px;
  padding: 15px;
  position: absolute;
  left: 6px;
  top: 78px;
}
.deals-input-list {
  position: absolute;
  left: 3px;
  top: 39px;
  width: 350px;
  max-height: 400px;
  padding: 10px;
  padding-top: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(68, 41, 21, .7);
}
.deals-input-list li {
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 1px solid #fff;
}
.deals-input-list li:hover {
  color: rgb(68, 41, 21);
  background-color: #fff;
}
.deals-list:last-child {
  border-bottom: 1px solid #fff;
}
.deals-list div {
  border-top: 1px solid #fff;
  position: relative;
  cursor: pointer;
}
.deals-list div:hover, .active {
  background-color: #fff;
  color: rgb(68, 41, 21);
}
.deals-list div p {
  margin: 0;
  padding-left: 10px;
}
.list-item-button {
  position: absolute;
  right: 10px;
  bottom: 6px;
  padding: 2px;
}

.create-deal-container {
  position: absolute;
  right: 6px;
  top: 78px;
  background-color: rgba(105, 82, 66, 0.7);
  color: #fff;
  z-index: 999;
  padding: 15px;
}

.create-alert {
  position: absolute;
  top: 78px;
  left: 50%;
  margin-left: -194px;
  border-radius: 5px;
  background-color: rgba(105, 82, 66, 0.7);
  color: #fff;
  z-index: 999;
  padding: 15px;
}

.underline:hover {
  text-decoration: underline;
}
