<div id="modal" class="modal fade" tabindex="-1" *ngIf="isLoginModal() || isSigninModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Вход</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form *ngIf="isLoginModal()" class="modal-body">
        <div class="form-group">
          <label for="loginInput">Логин</label>
          <input id="loginInput" class="form-control" name="login" [(ngModel)]="userLogin">
        </div>
        <div class="form-group">
          <label for="passwordInput">Пароль</label>
          <input id="passwordInput" class="form-control" name="password" type="password" [(ngModel)]="userPassword">
        </div>
      </form>

      <form *ngIf="isSigninModal()" class="modal-body">
        <div class="form-group">
          <label for="loginInput">Логин</label>
          <input id="loginInput" class="form-control" name="login" [(ngModel)]="userLogin">
        </div>
        <div class="form-group">
          <label for="passwordInput">Пароль</label>
          <input id="passwordInput" class="form-control" name="password" type="password" [(ngModel)]="userPassword">
        </div>
        <div class="form-group">
          <label for="secondPassword">Повторите пароль</label>
          <input id="secondPassword" class="form-control" name="secondPassword" type="password" [(ngModel)]="secondPassword">
        </div>
        <p class="text-warning" *ngIf="!isPasswordsEqual()">Пароли должны быть одинаковые.</p>
      </form>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button class="btn btn-primary"[disabled]="!canSubmit()" (click)="onSubmit()">Принять</button>
      </div>
    </div>
  </div>
</div>

<div id="userModal" class="modal fade bd-example-modal-lg" tabindex="-1" *ngIf="isUserInfoModal()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="container">
        <div class="row pt-5 px-5 user-modal">
          <div class="col-4">
            <img src="../../../assets/img/default-avatar.png" style="height: 200px;">
          </div>
          <div class="col-8">
            <div>
              <p>Имя пользователя</p>
              <p class="ml-3">{{ modalContent.name }}</p>
            </div>
            <div class="mt-3">
              <p>О пользователе</p>
              <p class="ml-3">{{ modalContent.about }}</p>
              <p class="text-secondary ml-2" *ngIf="!modalContent.about">Информации нет.</p>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <p>Рейтинг "Заказчик"</p>
                <p class="ml-3">{{ modalContent.customerRate }}</p>
              </div>
              <div class="col-6">
                <p>Рейтинг "Исполнитель"</p>
                <p class="ml-3">{{ modalContent.contractorRate }}</p>
              </div>
            </div>
            <div class="row justify-content-end mt-5 mb-3">
              <div class="col-4">	
                <button class="btn btn-primary" (click)="onCloseUserInfoClick()">Закрыть</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dealModal" class="modal fade" tabindex="-1" *ngIf="isDealCreationModal()">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Создание заказа</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class="modal-body">
        <div class="form-group">
          <label for="categoryInput">Категория</label>
          <input id="categoryInput" class="form-control" name="category" [(ngModel)]="dealCategory">
        </div>
        <div class="form-group">
          <label for="descInput">Описание</label>
          <textarea id="descInput" class="form-control" name="desc" [(ngModel)]="dealDesc"></textarea>
        </div>
        <div class="form-group">
          <label for="costInput">Цена</label>
          <input id="costInput" class="form-control" name="cost" [(ngModel)]="dealCost">
        </div>
      </form>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
        <button class="btn btn-primary"[disabled]="!canSubmit()" (click)="onSubmit()">Принять</button>
      </div>
    </div>
  </div>
</div>