<div class="container-fluid user-account">
  <div class="row user-account-content h-100">
    <div class="col-4 text-center">
      <img src="../../../assets/img/default-avatar.png" class="user-account-avatar">
    </div>`
    <div class="col-2 user-account-nav mt-3 pr-0">
      <div class="user-account-nav-item" [class.active]="isMainView()" (click)="setMainView()">
        <p>
          Главная
        </p>
      </div>
      <div class="user-account-nav-item" [class.active]="isDealsView()" (click)="setDealsView()">
        <p>
          Заказы
        </p>
      </div>
      <div class="user-account-nav-item" [class.active]="isChangePassView()" (click)="setChangePassView()">
        <p>
          Изменение пароля
        </p>
      </div>
    </div>

    <div class="col-5 user-account-desc p-4" *ngIf="isMainView()">
      <div class="user-account-desc-part mb-4">
        <p>Имя пользователя</p>
        <p class="ml-5">Test User</p>
      </div>
      <div class="user-account-desc-part mb-4">
        <p>О себе</p>
        <p class="ml-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio in quos ad facilis inventore perspiciatis modi nobis quibusdam, nam natus commodi, veniam hic eligendi consequuntur quae tenetur ullam est eveniet.</p>
      </div>
      <div class="user-account-desc-part mb-4">
        <p>Рейтинг "Исполнитель"</p>
        <p class="ml-5">100/100</p>
      </div>
      <div class="user-account-desc-part">
        <p>Рейтинг "Заказчик"</p>
        <p class="ml-5">100/100</p>
      </div>
      <div class="row justify-content-end">
        <div class="col-4">	
          <button class="btn btn-primary">Редактировать</button>
        </div>
      </div>
    </div>

    <div class="col-5 user-account-desc p-4" *ngIf="isDealsView()">

      <div class="row text-center user-account-deals">
        <div class="col-12">
          <div class="user-account-current-current-deals">
            <h4 class="text-center">
              Текущие задания
            </h4>
            <div *ngIf="user && user.deals; else outOfDeals">
              <div *ngFor="let deal of user.deals">
                <div class="col-3">
                  <p>
                    Категория:
                  </p>
                  <p class="ml-1">
                    {{ deal.category }}
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Описание:
                  </p>
                  <p class="ml-1">
                    {{ deal.getCuttedDesc() }}
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Исполнитель:
                  </p>
                  <p class="ml-1">
                    {{ deal.contractor }}
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Статус:
                  </p>
                  <p class="ml-1">
                    {{ deal.status }}
                  </p>
                </div>
              </div>
            </div>
            <ng-template #outOfDeals>
              <p class="text-secondary">Здесь пусто</p>
            </ng-template>
          </div>
          <hr class="deals-type-divider">
          <div class="user-account-current-current-deals">
            <h4 class="text-center">
              Прошлые задания
            </h4>
            <div *ngIf="user && getPastDeals(); else outOfPastDeals">
              <div *ngFor="let deal of getPastDeals()">
                <div class="col-3">
                  <p>
                    Категория:
                  </p>
                  <p class="ml-1">
                    {{ deal.category }}
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Описание:
                  </p>
                  <p class="ml-1">
                    {{ deal.getCuttedDesc() }}
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Исполнитель:
                  </p>
                  <p class="ml-1">
                    {{ deal.contractor }}
                  </p>
                </div>
                <div class="col-3">
                  <p>
                    Статус:
                  </p>
                  <p class="ml-1">
                    {{ deal.status }}
                  </p>
                </div>
              </div>
            </div>
            <ng-template #outOfPastDeals>
              <p class="text-secondary">Здесь пусто</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 user-account-desc p-4" *ngIf="isChangePassView()">
      <div class="col-8">
        <div class="form-group">
          <label for="currentPassword">Текущий пароль</label>
          <input class="form-control" id="currentPassword">
        </div>
        <div class="form-group mt-1 mb-0">
          <label for="currentPassword">Новый пароль</label>
          <input class="form-control" id="currentPassword">
        </div>
        <div class="form-group">
          <label for="currentPassword">Повторите новый пароль</label>
          <input class="form-control" id="currentPassword">
        </div>
      </div>
      <div class="row justify-content-end pr-4">
        <div class="col-3">
          <button class="btn btn-primary">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</div>