.user-account {
  height: calc(100vh - 72px);
  background-image: url("../../../assets/img/background.png");
  background-repeat: round;
  margin-top: 72px;
}
.user-account-content {
  padding-top: 70px;
}
.user-account-content .btn {
  border-color: #442915;
  color: #442915;
  background-color: #fff;
}
.user-account-avatar {
  max-height: 250px;
  border: 1px solid #442915;
  border-radius: 100%;
}
.user-account-nav div:first-child {
  border-top-left-radius: 5px;
}
.user-account-nav div:last-child {
  border-bottom-left-radius: 5px;
}
.user-account-nav .active {
  box-shadow: -5px 0px 5px 0px rgba(0,0,0,0.5);
  z-index: 1;
}
.user-account-nav-item {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  text-align: center;
}
.user-account-nav-item p {
  font-weight: bold;
  margin-bottom: 0;
}
.user-account-desc {
  display: table;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  border-radius: 10px;
  
}
.user-account-desc-part p {
  margin: 0;
}
.user-account-deals {
  max-height: 590px;
}
.deals-type-divider {
  background-color: #000;
}
.deals-divider {
  background-color: #000;
  width: 200px;
}
