<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3">
    <div class="container">
      <div class="row text-center w-100">
        <div class="col-3">
          <a class="navbar-brand" href="#main-page">Fine Deal</a>
        </div>
        <div class="col-6 p-auto">
          <ul class="navbar-nav justify-content-center">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">О площадке</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Заказы</a></li>
          </ul>
        </div>
        <div *ngIf="false" class="col-3 m-auto">
          <span><a href="#" (click)="onLoginClick()">войти</a> или <a href="#" (click)="onSiginClick()">зарегистрироваться</a></span> 
        </div>
        <div class="col-3">
          <div class="row h-100">
            <div class="col-8 text-right m-auto">
              <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle navbar-button" data-toggle="dropdown">
                  {{ user.name }}
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Личный кабинет</a>
                  <a class="dropdown-item" href="#">Выйти</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <img src="../assets/img/default-avatar.png" class="navbar-avatar">
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<app-modal></app-modal>
<router-outlet></router-outlet>
