.navbar {
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.60);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.60);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.60);;
  background-color: #fff;
  transition: background-color 0.2s ease;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  font-family: "Bellota";
  font-weight: bold;
}
.navbar-button {
  font-family: "Bellota";
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #442915;
  color: #442915;
}
.navbar-button:focus, .navbar-button:hover, .navbar-button:active {
  outline: none;
  color: #442915;
  background-color: #fff !important;
  border-bottom: none;
  border-left: 1px solid #442915;
  border-right: 1px solid #442915;
  box-shadow: none !important;
}
.navbar-avatar {
  display: block;
  max-height: 40px;
}
