@font-face {
  font-family: "Bellota";
  src: url("../assets/fonts/Bellota/Bellota-Regular.ttf");
}
@font-face {
  font-family: "Bellota";
  src: url("../assets/fonts/Bellota/Bellota-Bold.ttf");
  font-weight: bold;
}

html {
  scroll-behavior: smooth; 
  font-family: "Bellota";
}
p {
  font-family: "Bellota";
}
.section-divider {
  height: 2px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);;
}
.btn {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
}
.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}
.ml-6 {
  margin-left: 4rem !important;
}


.marker-icon {
  color: aqua;
  
}
