<section id="greeting-page" class="container-fluid">
  <div class="row h-100 align-items-center justify-content-center text-center">
    <div class="col-lg-10 align-self-end">
      <h1 class="greeting-page-slogan">Найти Работу Просто</h1>
      <hr class="divider my-4" />
    </div>
    <div class="col-lg-8 align-self-baseline">
      <p class="mb-5">{{ mainPageDesc }}</p>
      <a class="btn btn-primary btn-xl" href="#about">Больше информации</a>
    </div>
  </div>
</section>
<div class="section-divider"></div>
<section id="about" class="container-fluid">
  <div class="about-content row justify-content-around">
    <div class="col-3 about-content-advantages-list">
      <ul class="justify-content-around ml-4">
        <li>
          <p>
            <fa-icon class="list-icon" [icon]="starIcon"></fa-icon>
            Качественно
          </p>
        </li>
        <li>
          <p>
            <fa-icon class="list-icon" [icon]="peaceIcon"></fa-icon>
            Удобно
          </p>
        </li>
        <li>
          <p>
            <fa-icon class="list-icon" [icon]="clockIcon"></fa-icon>
            Быстро
          </p>
        </li>
        <li>
          <p>
            <fa-icon class="list-icon" [icon]="thumbsUpIcon"></fa-icon>
            Выгодно
          </p>
        </li>
      </ul>
    </div>
    <div class="col-6 about-content-desc py-5 px-5">
      <p>
        1. Только качественно выполненная работа.<br>
        <br>2. Удобный поиск заказов.<br>
        <br>3. Быстрый отклик исполнителей.<br>
        <br>4. Конкурентность - возможность выбора нужного исполнителя.
      </p>
      <p class="mt-4">
        Есть определённые навыки в сфере строительства, ремонта бытовой техники или умеете делать красивые стрижки? Нет навыков, но есть свободное время? Можно выгулять собаку, помыть окна, выполнить курьерскую работу. 
На нашем сайте система поиска максимально проста для соискателя. Удобная навигация позволит выбрать работу там где удобно.
У нас много выгодных возможностей заработка с помощью собственного труда.
      </p>
    </div>
  </div>
</section>
<section class="footer">
  
</section>