/* Main Section */
#greeting-page {
  height: calc(100vh - 72px);
  margin-top: 72px;
  background: linear-gradient(to bottom, rgba(105, 82, 66, 0.5) 0%, rgba(105, 82, 66, 0.7) 100%), url("../../../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #fff;
}
.greeting-page-slogan {
  font-family: "Bellota";
  font-weight: bold;
}
.divider {
  background-color: #fff;
}

/* About Section */
#about {
  background: linear-gradient(to bottom, rgba(105, 82, 66, 0.5) 0%, rgba(105, 82, 66, 0.7) 100%), url("../../../assets/img/background.png");
}
.about-content {
  height: 90vh;
  padding-top: 10vh;
  padding-bottom: 9.5vh;
}
.about-content-advantages-list ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about-content-advantages-list li {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}
.list-icon {
  vertical-align: sub;
  font-size: 3.5rem;
}
.about-content-desc {
  background-color: rgba(68,41,21, 0.9);
  color: #ffffff;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}